.env
.cache
tmp
main
run.sh
.vscode
aws.go
node_modules
postgres-data
pgadmin
pgadmin-servers.json
*output
conf.go
./services/sqs-logs-consumer/conf/conf.go
./services/sqs-logs-consumer/conf/conf.go
services/sqs-logs-consumer/conf/conf.go
